<h3>Список задач</h3>

<div class="col-md-10">
    <table class="table">
        {{#each tasks}}
            {{#ifFlag flag}}
            <tr class="active">
            {{else}}
            <tr class="success">
            {{/ifFlag}}
            <td>{{task}}</td>
            <td>
                <form method="POST" action="/user/delete">
                    <input type="hidden" value={{id}} name="id">
                    <input type="submit" value="Удалить" class="btn btn-primary">
                </form>
            </td>
            <td>
                <form method="POST" action="/user/complete">
                    <input type="hidden" value={{id}} name="id">
                    <button type="submit" class="btn btn-success">Выполнено</button>
                </form>
            </td>
            <td>
                <button class="btn btn-primary spoiler-title">Изменить задачу</button>
                <div class="spoiler-body">
                    <form method="post" action="/user/change" class="form-inline">
                        <div class="form-group">
                            <input type="hidden" value={{id}} name="id">
                            <input type="text" name="task">
                        </div>
                        <input type="submit" value="Изменить" class="btn btn-primary">
                    </form>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div class="col-md-2">
    <h4>Добавить задачу</h4>

    {{#if error}}
        <h2>error</h2>
    {{/if}}

    <form method="post" action="/user/add">
        <div class="form-group">
            Задача: <input type="text" name="task">
        </div>
        <input type="submit" value="Добавить" class="btn btn-primary">
    </form>
</div>